<p><a name="sections"></a></p>
<br>
<br>
# Sections

- <a href="#DS">Data Stucture</a><br>
    - <a href="#series">Series</a><br>
    - <a href="#labseries">In class lab: Series</a><br>
    - <a href="#DF">DataFrame</a><br>
    - <a href="#labDF">In class lab: DataFrame</a><br>
    - <a href="#IO">I/O tools</a><br>
    - <a href="#labIO">In class lab: I/O tools</a><br>
- <a href="#DMpandas">Data Manipulation with Pandas</a><br>
    - <a href="#concat">concat</a><br>
    - <a href="#labconcat">In class lab: concat</a><br>
    - <a href="#merge">merge</a><br>
    - <a href="#labmerge">In class lab: merge</a><br>
- <a href="#moreDM">More on Data Manipulation</a><br>
    - <a href="#arith">arithmetic</a><br>
    - <a href="#drop">drop</a><br>
    - <a href="#apply">apply</a><br>
    - <a href="#describe">describe</a><br>
    - <a href="#SF">selection and filter</a><br>
    - <a href="#labmoreDM">In class lab: More on Data Manipulation</a><br>
- <a href="#miss">Handling Missing Data</a><br>
    - <a href="#labmiss">In class lab: Handling Missing Data</a><br>

<p><a name="DS"></a></p>
# Data Structure

- Pandas is a large package defining several new data types, plus a variety of convenient functions for data manipulation, plotting, and web scraping.

- The *DataFrame* structure is inspired by the type of same name in R, a programming language popular among statisticians and data scientists.

- Pandas is particularly strong in the area of handling missing data and, relatedly, handling time series data.

- There are four new data structures in pandas: Series, DataFrame, time series and panel. We will mainly discuss the first three.

These are the new data types introduced by pandas:

- **Series**: 1D labeled homogeneously-typed array.
- **Time Series**: Series with index containing datetimes.
- **DataFrame**: General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed columns.
- **Panel**: General 3D labeled, also size-mutable array.

We first import the package

In [51]:
import numpy as np
import pandas as pd

<p><a name="series"></a></p>
## Series

A series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. By default, the index just consists of ordinary array indices, i.e. consecutive integers starting from zero.

In [52]:
obj = pd.Series(['a', 'b', 'c', 'd'])
obj

0    a
1    b
2    c
3    d
dtype: object

Often it will be more desirable to create a series with an index identifying each data point. Here we manually set the index from 1 to 4.

In [53]:
obj2 = pd.Series(['a', 'b', 'c', 'd'], index=[1, 2, 3, 4])
obj2

1    a
2    b
3    c
4    d
dtype: object

We can also modify the index directly.

In [54]:
obj.index = ['A', 'B', 'C', 'D']
obj       # Check the result

A    a
B    b
C    c
D    d
dtype: object

We can access values in a series by index.

In [55]:
obj['B']

'b'

Slicing can be done in a similar way.

In [56]:
obj[['A', 'B']]

A    a
B    b
dtype: object

The method `values` accesses all the values.

In [57]:
obj.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [58]:
obj.values[1]   # obj.values is simply an array

'b'

The **Series** object is similar to a **dictionary**, `Series.index` is like `dictionary.keys`, and `Series.values` is like `dictionary.values`. We can convert a dictionary to a Series directly:

In [59]:
dict_ = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
obj3 = pd.Series(dict_)
obj3

1    a
2    b
3    c
4    d
dtype: object

We can of course convert a Series back to a dictionary.

In [60]:
obj3.to_dict()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

<p><a name="labseries"></a></p>
## In class lab: Series

 **Exercise 1.** Create a pandas Series whose entries are `['analyst', 'associate', 'VP', 'analyst']`. Call the series "`title`".

In [61]:
#### Your code here
title = pd.Series(['analyst', 'associate', 'VP', 'analyst'])
title

0      analyst
1    associate
2           VP
3      analyst
dtype: object

** Exercise 2.** Index this series by `['Bob', 'Sam', 'Peter', 'Jake']`

In [62]:
#### Your code here
title.index = ['Bob', 'Sam', 'Peter', 'Jake']
print title

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-62-1c4483d98ead>, line 3)

 **Exercise 3.** Create the same series with dictionary notation. Call it `title_2`.

In [ ]:
#### Your code here
dictionary = {'Bob': 'analyst', 'Sam':'associate', 'Peter':'VP', 'Jake':'analyst'}
title_2 = pd.Series(dictionary)
print title_2

**Exercise 4.** Check if *title* equal to *title_2*(`title == title_2`). What does it return? If it indicates `title` and `title_2` are not the same, why?

In [ ]:
#### Your code here
(title == title_2).all()

- In this exercise, we see that for the dictionary type, only the key-value pair matters; however, for the Series type, the order of the indices also makes differences.

**Exercise 5.** How do we fix the problem in Exercise 4? Try to use the **`sort_values`** method. If you don't know what it is, google 'sort pandas series'.

In [ ]:
# Series.sort_values(axis=0, ascending=True, kind='quicksort', na_position='last', inplace=True)
#### Your code here
tmp_1=title.sort_values(inplace=False, ascending=True)           
tmp_2=title_2.sort_values(inplace=False, ascending=True)

- We print out the result of `sort_values` method.

In [ ]:
print tmp_1
print '-'*55
print tmp_2

In [ ]:
(tmp_1==tmp_2).all()

Here we demonstrate more on `sort_values`.

- We may pass `ascending=False` to the `sort_values` method. The result is obviously:

In [ ]:
title.sort_values(inplace=False, ascending=False)

- But what happen if we pass `inplace=True`? Notice that at this point, `series` is not sorted yet:

In [ ]:
print title

- However, if we use `inplace=True`.

In [ ]:
tmp_1=title.sort_values(inplace=True, ascending=True)           
tmp_2=title_2.sort_values(inplace=True, ascending=True)

print tmp_1
print '-'*55
print tmp_2
print '-'*55
print (tmp_1 == tmp_2).all()

- Once we use `inplace=True`, the mehod `sort_values` mutate the value in memory directly. Therefore, `sort_values` becomes a mutating operator, without returning any value. Therefore,
 - Both `tmp_1` and `tmp_2` are `None`.
 - `(tmp_1 == tmp_2)` is `True`, which is a bool object and have no method `all`. **Read the error message above.**
 - But the series is now sorted:

In [ ]:
print title

** The in class lab ends!**
<p><a name="DF"></a></p>
## DataFrame

A data frame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (integers, strings, floating point numbers, Python objects, etc.), but all must be the same length.

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
# convert to DataFrame
df = pd.DataFrame(data)
df

A data frame can be created with nested list as well. The two ways are equivalent.

In [ ]:
df_2=pd.DataFrame([[1.5, 'Ohio', 2000],
                   [1.7, 'Ohio', 2001],
                   [3.6, 'Ohio', 2002],
                   [2.4, 'Nevada', 2001],
                   [2.9, 'Nevada', 2002]], 
                    columns=['pop','state','year'])
df_2

In [ ]:
print df == df_2

In [ ]:
print (df == df_2).all()

In [ ]:
print ((df == df_2).all()).all()

A data frame has an attribute **values**, which is of the multidimensional array type.

In [ ]:
print df.values
print '-'*55
print df_2.values

data frame v.s. series is similar to 2D array v.s. 1D array. A data frame has column names.

In [ ]:
df.columns    # column name
# here u'pop' means the string 'pop' is encoded in unicode

Each column in a DataFrame can be retrieved as a Series. We have two ways to get the column: to retrieve by attribute and to retrieve by dictionary-like notation. They will give the same result.

In [ ]:
df.year         # retrieve by attribute

In [ ]:
df['year']  # retrieve by dictionary-like notation

<p><a name="labDF"></a></p>
## In class lab: DataFrame

** Exercise 6.** Create a Pandas DataFrame, 'Employee', whose columns are 'Name', 'Year' and 'Department'. The rows are supposed to be:

- Bob has been working for IT department for a year.
- Sam has been working for Trade department for 3 years.
- Peter has been working for HR department for 8 years.
- Jake has been working for IT department for 2 years.

In [ ]:
#### Your code here
data = {'Name':['Bob', 'Sam', 'Peter', 'Jake'], 'Year':[1,3,8,2], 'Department':['IT', 'Trade','HR', 'IT'] }
Employee = pd.DataFrame(data)
Employee

**Exercise 7.** Now set the index of Employee to be their names. Make sure you update the data frame.
- **Remark** recording information in the index can cause problems when applying the merge function, as we will see later.

In [ ]:
#### Your code here
Employee.set_index('Name')

- Again, we see that `set_index` is not a mutating operator by printing out `Employee` to see that the data frame remains unchanged.

In [ ]:
Employee

In [ ]:
Employee = Employee.set_index('Name') 
Employee

**Remark** In the past, people complaint about the extra row with **Name** up there. It is really just to you see the name of the index (Note that the index is created with a column, which has a name). If you print out the index:

In [ ]:
Employee.index

To remove that extra attibute **name**, we can use the **`rename`** method:

In [ ]:
Employee.index.rename(None, inplace=True)
Employee

**Exercise 8.** What is the type of `Employee['Department']`?

In [ ]:
#### Your code here
type(Employee['Department'])

**Remark**

This illustrate the fact that once we select a column, we got a `Series`. However, if we want to keep the `DataFrame` structure but with only one column, we can do:

In [ ]:
Employee[['Department']]

In [ ]:
type(Employee[['Department']])

**The in class lab ends**

<p><a name="IO"></a></p>
## I/O tools

Pandas has a number of functions for reading tabular data as a data frame object.

In [ ]:
!cat foo.csv

In [ ]:
pd.read_csv('foo.csv')

In [ ]:
!cat foo.txt

In [ ]:
pd.read_table('foo.txt')  # use tab as the default delimiter

- Note that both functions consider the first row as a header giving the column names, and both add incremental numbers as index.

Parsing can't be done properly with a bad delimiter

In [ ]:
# read_csv reads a \t separated file
pd.read_csv('foo.txt')

- We saw the data frame becomes messy with a bad delimiter.

The problem will be fixed by passing sep = '\t' to read_csv.

In [ ]:
# read_csv reads a \t separated file
pd.read_csv('foo.txt', sep='\t')

In some cases, there is no header in the file. Set `header = None`, the column names will be filled with incremental numbers.

In [ ]:
!cat foo_noheader.csv

In [ ]:
pd.read_csv('foo_noheader.csv', header = None)

But we can pass the column names (as a list of strings) to the names parameter in `read_csv`.

In [ ]:
# Set the names manually
pd.read_csv('foo_noheader.csv', 
             names=['a', 'b', 'c', 'd', 'message'])

<p><a name="labIO"></a></p>
## In class lab: I/O tools
So far we covered only importing a file. With this exercise we first demonstrate how exporting is done.


**Exercise 9.** Write the data frame, `Employee`, to a file, Employee.csv. The function `to_csv` should comes in handy.

In [ ]:
#### Your code here
Employee.to_csv('Employee.csv')

- Inspect the csv file we created.

In [ ]:
!cat Employee.csv

**Exercise 10.** Read the csv file back into a data frame and call it `Employee2`. Is it the same as `Employee`?

In [ ]:
#### Your code here
Employee2 = pd.read_csv('Employee.csv')

** Exercise 11.** Test if `Employee == Employee2`. If not, fix it.

In [ ]:
#### Your code here
Employee == Employee2

In [ ]:
Employee2 = pd.read_csv('Employee.csv', index_col=0)
Employee2 == Employee

In [ ]:
(Employee == Employee2).all()

In [ ]:
((Employee == Employee2).all()).all()

** Exercise 12.** Read the file `Employee.txt` into a data frame.

In [ ]:
!cat Employee.txt

In [ ]:
#### Your code here
pd.read_table('Employee.txt',index_col=0)

**The in class lab ends.**

<p><a name="DMpandas"></a></p>
# Data Manipulation in Pandas

Like numpy, pandas defines many broadcast operations, as well as numerous methods of manipulating data.
<p><a name="concat"></a></p>
## `concat`
Pandas DataFrames can be expanded in both directions. Let’s create two data frames first.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['one', 'two', 'three'])
df1

In [ ]:
df2

Since the two data frames have the same number of rows, it is natural that we can combine them "horizontally".

In [ ]:
pd.concat([df1, df2], axis = 1)

- The argument "axis = 1" indicates expanding along the column indices.

We some time want to extend the Pandas DataFrames in a "vertical" direction. Let’s create two data frames first.

In [ ]:
df1 = pd.DataFrame(np.arange(4).reshape((2, 2)), 
                   columns=['a', 'b'],
                   index=['one', 'two'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['a','b'],
                   index=['four', 'five', 'six'])
df1

In [ ]:
df2

Again we use `concat`. But this time we pass `axis=0` to indicate expand along row indices:

In [ ]:
pd.concat([df1, df2], axis = 0)

The argument 'axis' actually default default to 0, so the code below is equivalent.

In [ ]:
pd.concat([df1, df2])

<p><a name="labconcat"></a></p>
## In class lab: concat

**Exercise 13.** Before we concatenate multiple data frames, let's consider an easier case. Recall that we created a Series recording the title of everybody. Combine it with our `Employee` data frame.

In [ ]:
Employee

In [ ]:
#### Your code here
Employee['Title'] = title # We see here the index is useful! 
Employee

**Exercise 14.** Consider if we have a data frame with new features recorded (as in the following data frame), how should we combine it with the old data frame?

In [ ]:
new_features = pd.DataFrame({'Education':['Bachelor','PHD','Master','Master'],\
                           'Sex':['M','M','M','M']},\
                            index=['Bob', 'Sam', 'Peter', 'Jake'])
new_features

In [ ]:
#### Your code here
Employee = pd.concat([Employee, new_features], axis =1)
Employee

**Exercise 15.** Consider if we have a data frame with new observations recorded (as in the following data frame), how should we combine it with the old data frame?

In [ ]:
new_observations = pd.DataFrame({'Department':['IT','?','Trade','HR','HR'],\
                             'Title':['VP','associate','associate','analyst','analyst'],\
                             'Sex':['F', 'F','F','M','F'], 'Year':[9,5,np.NaN,2,2],\
                             'Education':['','PHD','Master','Master','Bachelor']},\
                             index=['Mary','Amy','Jennifer','John','Judy'])
new_observations

In [ ]:
#### Your code here
Employee = pd.concat([Employee, new_observations])
Employee

**The in class lab ends.**
<p><a name="merge"></a></p>
## `merge`
Merging is the most common way to combine multiple data frames. Let’s create two data frames first.

In [ ]:
df1 = pd.DataFrame(np.array([0,0,0,2,2,2,8,8,8]).\
                   reshape((3, 3)),columns=['a','b','c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['b', 'd'],
                   index=['one', 'two', 'four'])
df1

In [ ]:
df2

The code below identifies the column ‘b’ from both data frames. The argument 'inner' means it only keeps rows occur in both data frames.

In [ ]:
pd.merge(df1, df2, how='inner', on ='b')

Without specifying 'how', it’s default to be 'inner'. So the following code performs the same task as above.

In [ ]:
pd.merge(df1, df2, on ='b')

If we want to keep every row in df1, then we can specify how = "left".

In [ ]:
pd.merge(df1, df2, how='left', on ='b')

- Since `df2` does not have a row with `b=8`, pandas leaves NaN for column d.

If we want to keep every row in df2, then we can specify how = "right".

In [ ]:
pd.merge(df1, df2, how='right', on ='b')

- Since df1 does not have the row with `b=4`, pandas leaves NaN for columns a and c.

If we want to keep all rows from both df1 and df2, then we can specify how = "outer".

In [ ]:
pd.merge(df1, df2, how='outer', on ='b')

We can also merge on columns with different columns.

In [ ]:
pd.merge(df1, df2, right_on='b', left_on='a')

- Since we have a row with a=0 in df1 and a row with b=0 in df2, they are identified. Similarly the row with a=2 in df1 and the row with b=2 in df2 are identified. Since the inner merge is default, and there is no row with a=b=4 nor a=b=8, so those two rows are discarded. Since this time the column b from the two data frames are not identified, there are still two after merging, namely, `b_x` and `b_y`.
<p><a name="labmerge"></a></p>
## In class lab: merge

**Exercise 16.** Run the following code to create a data frame, 'Salary'. How is this related to the Employee data frame? Why do we separate this piece of information into another data frame?

In [ ]:
Salary = pd.DataFrame({'Title':['VP', 'associate', 'analyst'],\
                      'Salary':[250, 120, 90]},\
                      columns=['Title', 'Salary'])
Salary

In [ ]:
Employee

In [ ]:
#### Your answer here
 
# The information in Salary is independent of the individual.

**Exercise 17.** How should we combine the two data frames in a meaningful way?
- **Caution** We mentioned that having the information 'Name' in the index might cause problem when merging. Pay attention to the indices after merging. **Don't update your `Employee` if you are not sure yet what will happen to the indices after applying `merge`.**

In [ ]:
#### Your code here
pd.merge(Employee, Salary, how='inner', on='Title')

- In general, indices from the original data frames are meaningless after merging. Consider in this particular case, obviously the indices of `Salary` becomes useless because rows in `Salary` are duplicated. In general, this can happen to both data frames. Below is an example:

In [ ]:
A=pd.DataFrame([[1,2],[1,3],[2,4]], columns=['key', 'value'])
B=pd.DataFrame([[2,5],[2,6],[1,7]], columns=['key', 'value'])
A

In [ ]:
B

In [ ]:
pd.merge(A,B, on='key')

- Thus, there is no natural way for `merge` to keep the indices.

Since the Name information is important, we can keep it by make a copy of it in a column.

In [ ]:
Employee['Name']=Employee.index
Employee

- Then we merge `Employee` and `Salary`.

In [ ]:
Employee = pd.merge(Employee, Salary, on='Title')
Employee

- As you might have noticed already, there are "invalid" data included. We will see how we can deal with it later.

**The in class lab ends**

<p><a name="moreDM"></a></p>
# More on Data Manipulation

One of the most important pandas features is the behavior of arithmetic between objects with different indices. Let’s create two data frames first.
<p><a name="arith"></a></p>
## Arithmetic

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(12).reshape((4, 3)), 
                   columns=['b', 'c', 'd'],
                   index=['zero', 'one', 'two', 'three'])

We can easily add them by using the + sign.

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Addition returns a DataFrame whose index and columns are
# the unions of the ones in each DataFrame
df3 = df1 + df2 
df3

<p><a name="drop"></a></p>
## drop

The drop method can be used to drop some columns and rows.

In [ ]:
# drop column 'd'
# axis = 1 means drop column
df2 = df2.drop('d', axis=1) 
df2

In [ ]:
# drop row 'zero'
# axis = o means drop row
df2 = df2.drop('zero', axis=0) 
df2

<p><a name="apply"></a></p>
## `apply`

DataFrame’s `apply` method applies a function on 1D arrays to each column or row.

In [ ]:
# minimum number in each column
df1.apply(min, axis=0)

In [ ]:
# minimum number in each row
df1.apply(min, axis=1)

<p><a name="describe"></a></p>
## `describe`

The `describe` method computes a set of summary statistics for a Series or for each data frame's column.

In [ ]:
df1.describe()

<p><a name="SF"></a></p>
## selection and filter

The `loc` method provides purely label (index/columns)-based indexing. This method only allows you do selection from a data frame by its index and columns. For example:

In [ ]:
df1['a']

In [ ]:
df1.loc['two'] # the row that has index two

You can also pass a second parameter to loc to specify which column you want to choose. For example:

In [ ]:
df1.loc['two', 'b'] # the row that has index two and column b

Fancy indexing as in Numpy can be done with `loc` in pandas as well. We may select a row with a condition:

In [ ]:
df1.loc[df1.a==0,:]

We may select columns in a similar way:

In [ ]:
df1.loc[:,df1.loc['one']==0]

Note: loc only accepts labels as input. If you try to use numbers, it will give you an error. For example:

In [ ]:
df1.loc[1, 2]

If you want to select data by number, you need the help of `iloc`. The `iloc` method provides a purely position based indexing.

In [ ]:
# select as a matrix 
# row 2, col 3
df1.iloc[1, 2]

In [ ]:
# first row, first two columns
# return a Series
row1 = df1.iloc[0, :2]
row1

<p><a name="labmoreDM"></a></p>
## In class lab: More on Data Manipulation

**Exercise 18.** From the `df1` we created, what should we do if we want to select the elements greater than 4?
- **Remark** It's unlikely that we can keep the `data frame` structure after selecting?

In [ ]:
#### Your code here
df1.values[df1.values>4]

**Demonstration: `.head()` and `.tail()`**

We demonstrate some other convenient methods to glance the data: `head` and `tail`. The former shows the first 5 rows in the data frame, the latter show the last 5.

In [ ]:
Employee.head()

In [ ]:
Employee.tail()

We can specify the number of rows shown:

In [ ]:
Employee.head(3)

** Exercise 19.** Give VPs a 5% raise!

In [13]:
#### Your code here
Employee['Salary'] = Employee['Salary']*(1+ 0.05*(Employee['Title']=='VP'))
Employee

NameError: name 'Employee' is not defined

**Exercise 20.** Apply the method `describe` on `Employee`. How many columns are there? Why?

In [111]:
#### Your code here
Employee.describe()

           Year      Salary
count  8.000000    9.000000
mean   4.000000  138.333333
std    3.023716   71.752613
min    1.000000   90.000000
25%         NaN   90.000000
50%         NaN  120.000000
75%         NaN  120.000000
max    9.000000  262.500000

**Exercise 21.** Find the sum of the two columns, Salary and Year.

In [112]:
#### Your code here
(Employee[['Salary','Year']]).apply(sum)

Salary    1245.0
Year         NaN
dtype: float64

In [113]:
Employee[['Salary','Year']].apply(np.sum)

Salary    1245.0
Year        32.0
dtype: float64

**Exercise 22.** For each row, sum up the Salary and Year.

In [114]:
#### Your code here
(Employee[['Salary','Year']]).apply(np.sum, axis=1)

0     91.0
1     92.0
2     92.0
3     92.0
4    123.0
5    125.0
6    120.0
7    270.5
8    271.5
dtype: float64

<p><a name="miss"></a></p>
# Handling Missing Data

Missing - or, what amounts to the same thing, corrupt - data is an unavoidable fact of life in dealing with large quantities of data.  There are many ways of dealing with it, depending upon the circumstances:

- Discard it, and all related data.
- Interpolate values from surrounding data
- Isolate it and analyze it separately

Whatever approach is chosen - and this is a scientific, not a computational, question - pandas has methods to make it simpler to carry out.

FIrst, let’s read a csv file that contains NaNs. Note here we set index_col to 0 which means we are using the first column as the index.

In [115]:
df = pd.read_csv('missing.csv', index_col=0)
df

        one       two     three      four
a -1.250699 -0.573801  0.705961 -1.015682
b       NaN -0.217766  0.655179  1.379276
c -0.860359 -1.313747  0.676174  1.034417
d       NaN       NaN       NaN       NaN
e  0.079169  0.029138  0.239183 -0.492039
f -1.149060       NaN       NaN -0.160499

If we have no idea about what the dataset looks like, the first thing we want to do is to figure out where the missing data is. We can use the isnull `method`.

In [116]:
df.isnull()

     one    two  three   four
a  False  False  False  False
b   True  False  False  False
c  False  False  False  False
d   True   True   True   True
e  False  False  False  False
f  False   True   True  False

Also we can sum up the boolean array to see how many missing values each column has:

In [117]:
np.sum(df.isnull())

one      2
two      2
three    2
four     1
dtype: int64

We may do the same for rows

In [118]:
np.sum(df.isnull(), axis=1)

a    0
b    1
c    0
d    4
e    0
f    2
dtype: int64

Sometimes we need a close look at those NaNs, so we want to have rows that only contain NaNs. To do that , we aggregate the data frame with boolean value, `df.isnull()`, by the function any. `axis=1` indicates rows.

In [119]:
df.isnull().any(axis=1)

a    False
b     True
c    False
d     True
e    False
f     True
dtype: bool

Passing the boolean Series to the first position of the `loc` method of the data frame selects the rows:

In [120]:
df.loc[df.isnull().any(axis=1),:]

       one       two     three      four
b      NaN -0.217766  0.655179  1.379276
d      NaN       NaN       NaN       NaN
f -1.14906       NaN       NaN -0.160499

<p><a name="labmiss"></a></p>
## In class lab: Handling Missing Data


**Exercise 23.** We now deal with the missing values. `Employee` is a very small data frame, let's just print it out and see how many missing values do we have. How many missing values do we have? **Remark** Some of the missing values are not in the form you might expect.

In [121]:
# There are totally 3 missing values.

In [122]:
Employee

  Department Education Sex      Title  Year      Name  Salary
0         IT  Bachelor   M    analyst   1.0       Bob    90.0
1         IT    Master   M    analyst   2.0      Jake    90.0
2         HR    Master   M    analyst   2.0      John    90.0
3         HR  Bachelor   F    analyst   2.0      Judy    90.0
4      Trade       PHD   M  associate   3.0       Sam   120.0
5          ?       PHD   F  associate   5.0       Amy   120.0
6      Trade    Master   F  associate   NaN  Jennifer   120.0
7         HR    Master   M         VP   8.0     Peter   262.5
8         IT             F         VP   9.0      Mary   262.5

**Exercise 24.** Now, we know that Amy works for a department called 'Trade'. Fill it in.

In [123]:
#### Your code here
Employee.loc[Employee['Name']=='Amy','Department']='Trade'
Employee

  Department Education Sex      Title  Year      Name  Salary
0         IT  Bachelor   M    analyst   1.0       Bob    90.0
1         IT    Master   M    analyst   2.0      Jake    90.0
2         HR    Master   M    analyst   2.0      John    90.0
3         HR  Bachelor   F    analyst   2.0      Judy    90.0
4      Trade       PHD   M  associate   3.0       Sam   120.0
5      Trade       PHD   F  associate   5.0       Amy   120.0
6      Trade    Master   F  associate   NaN  Jennifer   120.0
7         HR    Master   M         VP   8.0     Peter   262.5
8         IT             F         VP   9.0      Mary   262.5

**Exercise 25.** Imagine we are dealing with a large data frame so it is not possible to pick the empty strings `''` manually. Look up for `replace` method to replace `''` by `np.nan`. Make sure you update the data frame. 
- **Remark** It is actually very common that missing values are not always represented by `NaN`s!

In [124]:
#### Your code here
Employee = Employee.replace('', np.nan)
Employee

  Department Education Sex      Title  Year      Name  Salary
0         IT  Bachelor   M    analyst   1.0       Bob    90.0
1         IT    Master   M    analyst   2.0      Jake    90.0
2         HR    Master   M    analyst   2.0      John    90.0
3         HR  Bachelor   F    analyst   2.0      Judy    90.0
4      Trade       PHD   M  associate   3.0       Sam   120.0
5      Trade       PHD   F  associate   5.0       Amy   120.0
6      Trade    Master   F  associate   NaN  Jennifer   120.0
7         HR    Master   M         VP   8.0     Peter   262.5
8         IT       NaN   F         VP   9.0      Mary   262.5

**Exercise 26.** How many missing values do we have in each row? How many in each column?

In [125]:
#### Your code here
print np.sum(Employee.isnull(),axis=0)
print '-'*75
print np.sum(Employee.isnull(),axis=1)

Department    0
Education     1
Sex           0
Title         0
Year          1
Name          0
Salary        0
dtype: int64
---------------------------------------------------------------------------
0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    0
8    1
dtype: int64

**Exercise 27.** Print the rows with missing values.

In [126]:
#### Your code here
Employee.loc[(Employee.isnull()).any(axis=1),:]

  Department Education Sex      Title  Year      Name  Salary
6      Trade    Master   F  associate   NaN  Jennifer   120.0
8         IT       NaN   F         VP   9.0      Mary   262.5

**Exercise 28.** Print the columns with missing values.

In [127]:
#### Your code here
Employee.loc[:,(Employee.isnull()).any(axis=0)]

  Education  Year
0  Bachelor   1.0
1    Master   2.0
2    Master   2.0
3  Bachelor   2.0
4       PHD   3.0
5       PHD   5.0
6    Master   NaN
7    Master   8.0
8       NaN   9.0