# Matplotlib & Seaborn

#### (1) Use three variables 'Height', 'Length' and 'Rings' from abalone dataset to make a scatter matrix like this:
<img src=http://slides.nycdatascience.com/BOOTCAMP3/content/week6/pic/scatter_matrix.png>

In [7]:
import pandas as pd
abalone = pd.read_csv('./abalone.data', header = 0,
                      names = ['Sex', 'Length', 'Diam', 'Height', 'Whole', 'Shucked', 'Viscera', 'Shell', 'Rings'])

In [8]:
abalone.head()

  Sex  Length   Diam  Height   Whole  Shucked  Viscera  Shell  Rings
0   M   0.350  0.265   0.090  0.2255   0.0995   0.0485  0.070      7
1   F   0.530  0.420   0.135  0.6770   0.2565   0.1415  0.210      9
2   M   0.440  0.365   0.125  0.5160   0.2155   0.1140  0.155     10
3   I   0.330  0.255   0.080  0.2050   0.0895   0.0395  0.055      7
4   I   0.425  0.300   0.095  0.3515   0.1410   0.0775  0.120      8

In [9]:
Height = abalone.Height
Length = abalone.Length
Rings = abalone.Rings

- Figure size: width 12; height 12.

- Transparency: 0.5

- Pay attention to the labels on the axes.

In [10]:
### write your code here

#### (2) In the following questions, given the data and pictures, write codes to generate the picture.  To match the background style, you need to use maplotlib version 1.4+.  It is fine to have a different color scheme.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

![pie](http://slides.nycdatascience.com/BOOTCAMP3/content/week6/pic/exercise_pie.png)

In [14]:
# data
browser = {'IE': 0.21, 'Chrome': 0.51, 'Firefox': 0.18, 'Safari': 0.06, 'Others': 0.04}
## hint: kind='pie'

In [15]:
### write your codes here

![google](http://slides.nycdatascience.com/BOOTCAMP3/content/week6/pic/exercise_google.png)

In [18]:
google = pd.read_csv('./google.csv', index_col=0)
google = google.drop('Volume', axis = 1)
google.head()

             Open    High     Low   Close
﻿Date
12-Feb-15  539.66  548.34  537.00  546.01
11-Feb-15  539.73  541.95  536.00  538.00
10-Feb-15  532.15  541.00  529.17  540.16
9-Feb-15   531.06  533.88  527.55  529.28
6-Feb-15   531.01  540.22  528.65  533.88

In [19]:
### write your codes here

![density](http://slides.nycdatascience.com/BOOTCAMP3/content/week6/pic/exercise_density.png)

In [24]:
mtcars = pd.read_csv("./mtcars.csv")
mtcars.head()

    mpg  cyl  disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6   160  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6   160  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4   108   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6   258  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8   360  175  3.15  3.440  17.02   0   0     3     2

In [25]:
### write your codes here