<p><a name="sections"></a></p>


# Sections

- <a href="#string">String operations</a><br>
 - <a href="#strBasic">String Basics</a><br>
 - <a href="#OMC">Object Method Calls</a><br>
 - <a href="#buildin">Built-in Strings Operations</a><br>
 - <a href="#MinMap">Method Call in map</a><br>
 - <a href="#case">Case conversion</a><br>
- <a href="#fileIO">File Input and Output</a><br>
 - <a href="#read">Reading from Files</a><br>
 - <a href="#output">File Output</a><br>
 - <a href="#fileSearch">Searching in Files</a><br>
- <a href="#DS">Data Structure</a><br>
 - <a href="#mutate">Mutating Operations on Lists</a><br>
 - <a href="#TSD">Tuple, sets and Dictionaries</a><br>
- <a href="#ES">Expressions vs. Statements</a><br>
 - <a href="#nonmutate">Non-mutating Operator: +</a><br>
 - <a href="#append">Mutating Method: append</a><br>
 - <a href="#sideeffect">On the side effect</a><br>

<p><a name="string"></a></p>

# String operations

<p><a name="strBasic"></a></p>
## String Basics
String literals are written using either ingle quotes `('...')` or double quotes `("...")`.

In [1]:
s1 ='Hello world!'
s1

'Hello world!'

In [2]:
s2 = 'Hello world!'
s2

'Hello world!'

Once a variable is created as a string, it is treated as a string!

In [3]:
s3 = '1'
s4 = '2'
s3 + s4

'12'

Within a string, special symbols can be included by using escape character `(\)`. Examples are `\t` for tab and `\n` for newline. See 

https://docs.python.org/2.0/ref/strings.html

for a complete list!!

The `print` statement produces a more readable output by omitting enclosing quotes as well as escaped characters and special symbols:

In [4]:
sent = '"Isn\'t that," she said.'
sent

'"Isn\'t that," she said.'

In [5]:
print sent

"Isn't that," she said.

Note that we can enclose double quotes by single quotes. But the single quotes included in a strign need to be modified with escaped chatacter. Otherwise:

In [6]:
sent = '"Isn't that," she said.'

SyntaxError: invalid syntax (<ipython-input-6-17f980c5f720>, line 1)

If you don't want the characters prefaced by `\ ` to be interpreted as special characters, you can use raw strings by adding an `r` before the first quote:

In [7]:
print 'C:\some\name'

C:\some
ame

In [8]:
len('C:\some\name')

11

Above, `\n` is interpreted as one special character. To avoid that, add `r` in front of the first quote, then `\n` become two chatacters.

In [9]:
print r'C:\some\name'

C:\some\name

In [10]:
len(r'C:\some\name')

12

A string is normally coded in one line, but it can also be broken into multiple lines of code by adding `\ ` in the very last position of each line.

In [11]:
longquote = 'This is a particularly long line \
that is broken into two lines'

print longquote

This is a particularly long line that is broken into two lines

Python also has multiple lineotes: enclose the string with three quotation marks. Note that with three quotation marks the newlines are included

In [12]:
longquote = '''This is a particularly long line
that is broken into two lines'''

print longquote

This is a particularly long line
that is broken into two lines

Strings are similar to lists. You can subscipt and slice, as well as use `+` to concatenate strings.

In [13]:
s = 'My dog has fleas'
s[1]

'y'

In [14]:
s[3:6]

'dog'

In [15]:
s + ' and so do I.'

'My dog has fleas and so do I.'

Convert a string to a list of single-character rings using the function `list()`:

In [16]:
list(s)

['M',
 'y',
 ' ',
 'd',
 'o',
 'g',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'f',
 'l',
 'e',
 'a',
 's']

In [17]:
list('dog')

['d', 'o', 'g']

<p><a name="OMC"></a></p>
## Object Method Calls

We saw how we could split a string into a list. Going the other way requires a trick.

In [18]:
"".join(_)

'dog'

We have already seen the dot notation when calling functions from a module, for exaple: `math.sqrt()`.

- Then you might be wondering: why does an empty sring have a function?

To answer this question, we need to mention an important fact that Python is an **object-oriented language**. Without delving into details, this means Python takes many useful types of data for **objects**, including strings. Each object is associated with **methods** that can be applied to them.

- Essentially a method is a function. A function associated with an object is called a method.

A method is always called by an object it is associated with, and the syntax is:

- `object.method(argument1, argument2, ...)`

Therefore, in our previouse example:

- The empty string `''` is used to call the function `join`.
- The symbol `_` is used to represent the value returned by the last cell. In this particular case: `['d', 'o', 'g']`.
- The method `join` then concatenate the strings in the list passed to it.

We will discuss more on this `join` method.

Object oriented programming is actually an important feature of Python. We can even create our own objects. We will discuss this advanced topic later in this course.

<p><a name="buildin"></a></p>
## Built-in Strings Operations

Python comes with a large set of functions to perform useful operations strings. We will discuss several, for a complete list, see

https://docs.python.org/2/library/string.html

- **`strip`** removes "whitespace" (spaces, tab, newlines,..., etc) from the beginning and the end f a string. Note the usage of object-oriented syntax:

In [19]:
s = '    my dog has fleas    '
s.strip()

'my dog has fleas'

- **`split`** is an extremely useful function that splits a string into a list of strings on the delimeter. By default, the delimeter consists of spaces, tabs `(\t)`, and newlines `(\n)`, but the delimeter can be given as an argument.

In [20]:
s = 'my dog has fleas'
s.split()

['my', 'dog', 'has', 'fleas']

In [21]:
s1 = 'my,dog,has,fleas'
s1.split(',')

['my', 'dog', 'has', 'fleas']

- **`join`** concatenate a list of words with intervening occurences of a delimeter. You can sider join as the inverse of `split`. For example:

In [22]:
l = ['my','dog','has','fleas']
' '.join(l)

'my dog has fleas'

In [23]:
', '.join(l)

'my, dog, has, fleas'

Here we see that the object calling the function is often the first argument passed to the function. In this particular example, the string calling `join` is passed as the **delimeter**. Earlier we saw an example where `join` was called by the empty string `''`:

In [24]:
''.join(['d','o','g'])

'dog'

- **`replace`** returns a string with all occurences of one string replaced by another. For example:

In [25]:
s = 'He is my classmate, and he is learning Python'
s.replace('is','was')

'He was my classmate, and he was learning Python'

The object parameter is the string within which replacement takes place the first parameter is the string to be replaced by the second parameter.

If you only want the first occurence of the strign to be replaced, you can pass it to the third argument:

In [26]:
s.replace('is', 'was', 1)

'He was my classmate, and he is learning Python'

- **`find`** returns the lowest index in string `s` where the substring *sub* is found. It returns -1 on failure.

In [27]:
s = 'my dog has fleas'
s.find('dog')

3

In [28]:
s.find('dogs')

-1

If we want to find the substring *sub* within a range we need to specify it:

In [29]:
s.find('a')

8

In [30]:
s.find('a', 9)

14

- **`%` and format**

The `%` operator is used to create nicely formatted strings from other values. Its syntax is `format_specifier%(tuple of values)`:

 - `formate_specifier` is a string containing special format symbols, which are used to insert alues from the tuple:
  - `%s` means inserting a string.
  - `%d` means inserting an integer.
  - `%f` means inserting a float.
 - The number of format symbol in the format specifier must equal to the number of values in the tuple, and each format symbol must match the type of the corresponding value in the tuple.

In [31]:
'My name is %s and I am %d years old' % ('Mike', 25)

'My name is Mike and I am 25 years old'

<p><a name="MinMap"></a></p>
## Method call in `map`

Object notation causes one problem. Suppose we have a method *fun* on strings, and suppose it has no arguments.  So we apply it to string s by writing: `s.fun()`.

Now suppose we want to apply *fun* to every element of a list of strings. How can we do that?

- We can try `map(fun, L)`, but that doesn’t work. 

Instead, turn the method into a function:

- `lambda s: s.fun()`

or

- `def newfun(s): return s.fun()`

E.g., here is a way to “`strip`” every string in a list:

In [32]:
lis = [" abc  \n", " def", "ghi   "]
map(lambda s: s.strip(), lis)

['abc', 'def', 'ghi']

Here is a way to remove the strings that contain the word “No”:

In [33]:
# Return true if s does *not* contain 'No'
def has_no_no(s):
    return s.find('No') == -1

L = ['No rain', 'Some snow', 'No sleet']
filter(has_no_no, L)

['Some snow']

<p><a name="case"></a></p>
## Case Conversion

Python has provided some built-in functions to do case conversions:

In [34]:
'ABcd'.lower()      # convert to lowercase

'abcd'

In [35]:
'ABcd'.upper()      # convert to uppercase

'ABCD'

In [36]:
'ABcd'.swapcase()   # swap case

'abCD'

In [37]:
'aCd acD'.title()   # make first letters uppercase

'Acd Acd'

**Exercise 1** String operations

- Use `map` to find the first occurrence of the character `i` in each word in a list:
```
lis = ['today', 'is', 'a', 'nice', 'day']
map( ... , lis)   # fill in the ... to get [-1, 0, -1, 1, -1]
```

- Define function `find_char(s, t)` to find the lowest index of string `t` in each word in `s`:
```
s = 'today is a nice day'
find_char(s, 'i') ---> [-1, 0, -1, 1, -1]
```
You need to split `s`, and then so as above.

- Use `map` with the formatting operation (`%`) to turn a list of numbers into a list of strings:
```
lis = [10, 12, 4, 7]
map( ... , lis)   # fill in the ... to get ['10', '12', '4', '7']
```

- Use `filter` to find the strings in a list that do contain No.
```
L = ['No rain', 'Some snow', 'No sleet']
filter(has_no, L) ---> ['No rain', 'No sleet']
```

In [38]:
#### Your code here

#1
map(lambda s: s.find('i'), lis)

#2
def find_char(s, t):
    return map(lambda str: str.find(t), s.split())

s = 'today is a nice day'
find_char(s, 'i')

#3
map(lambda s: '%d' % s, lis)

#4
has_no = lambda s: s.find('No') != -1
filter(has_no, L)

<p><a name="fileIO"></a></p>
# File Input and Output

We first follow the step below to create a .txt file in iPython notebook:

- As above, save your notebook and go to the initial iPython screen.
- In the New menu (upper right), click Text file.
- Enter your text.
- Click on “untitled.txt” in the top left to name the file.
- Select “Save” from the file menu to save it.
- Click the word Jupyter on top left to return to the iPython screen. You should see your new file listed.
- Click on “Untitled.ipynb” to return to your notebook.


<p><a name="read"></a></p>
## Reading from Files

Before we input the file, we might want to inspect the file. Of course we can go back to the initial iPython screen to look at the file. With iPython notebook we can inspect a file without leaving our working space. We may use command line after the `!` notation 

**Note**: this is not python code, but a special feature in iPython notebook)

In [39]:
!cat simple.txt

I'm line 1,
and I'm line 2.

Reading from files is very simple, because we can treat a file almost as a list of strings.

- To turn a file into a list of strings, simply do this:

In [40]:
f = open('simple.txt', 'r')    # 'r' for read
lines = f.readlines()
f.close()

Now that we have the file’s contents in a list, we can apply all of our list- and string-processing powers to it.  E.g. turn all letters in simple.txt into uppercase:

In [41]:
text = ''.join(map(lambda s: s.upper(), lines))
text

"I'M LINE 1,\nAND I'M LINE 2."

Let’s take that code apart. `simple.txt` has two lines:

- The first three lines read the file into a list, as we’ve seen. Note that each line still has its ending newline:

In [42]:
f = open('simple.txt', 'r')
lines = f.readlines()
f.close()
lines

["I'm line 1,\n", "and I'm line 2."]

We can apply a function to each line using map.  Here we’re upper-casing each line:

In [43]:
map(lambda s: s.upper(), lines)

["I'M LINE 1,\n", "AND I'M LINE 2."]

We might want to assign the new list to a variable, or maybe back to lines:

In [44]:
lines = map(lambda s: s.upper(), lines)
lines

["I'M LINE 1,\n", "AND I'M LINE 2."]

because lists are more convenient if we want to do more processing.

In this case, we just want to get the new text in the form of a string, so we use join:

In [45]:
text = ''.join(lines)
text

"I'M LINE 1,\nAND I'M LINE 2."

**Exercise 2** File input

- The `‘\n’` symbol on the previous slide is quite annoying. Try to get rid of it using the `strip()` function.
- Write a function `e_to_a` to read the contents of a file, and get a list of every line, with the letter `‘e’` changed to `‘a’` in every line.
```
e_to_a('simple.txt') ---> ["I'm lina 1,", "and I'm lina 2."]
```
Hint: Start with the usual code to read the lines of the file, then map replace over the lines and return the result.

In [46]:
#### Your code here

lines = map(lambda s: s.strip(), lines)

def e_to_a(name):
    f = open(name, 'r')
    lines = f.readlines()
    lines = map(lambda s: s.strip().\
                replace('e', 'a'), lines)
    f.close()
    return lines

<p><a name="output"></a></p>
## File Output

Writing output to a file is easy.

- Open file for output:  `f = open(filename, 'w')`. 
**Caution**: Once this line of code is executed, the file specified by the filename would be **ERASED!!**.
- Write a string, `s`,  to the file:  `f.write(s)`
- Close the file:  `f.close()`

In [47]:
!cat simple.txt

I'm line 1,
and I'm line 2.

In [48]:
f = open('simple.txt', 'w')
f.write('This overwrites the file!')
f.close()

In [49]:
!cat simple.txt

This overwrites the file!

If you want to append a string to the end of the file, we may oopen the file for appending:

In [50]:
f = open('simple.txt', 'a') # 'a' for appending
f.write('\nThis should be the second line.')
f.close()

In [51]:
!cat simple.txt

This overwrites the file!
This should be the second line.

You can open a file for both reading and writing at the same time:

In [52]:
f = open('simple.txt', 'r+')
lines = f.readlines()
lines

['This overwrites the file!\n', 'This should be the second line.']

We may then write a new line into it:

In [53]:
f.write('\nThis should be the third line.')
f.close()

In [54]:
!cat simple.txt

This overwrites the file!
This should be the second line.
This should be the third line.

<p><a name="fileSearch"></a></p>
## Searching in Files

You may be familiar with the Unix command grep, which is used to search for strings within files.  For example:

In [1]:
!grep people oldmanandthesea.txt

quite sure no local people would steal from him, the old man thought
He always thought of the sea as _la mar_ which is what people call her
that were as long as the skiff and weighed a ton.  Most people are
him beyond all people.  Beyond all people in the world.  Now we are
table.  There was much betting and people went in and out of the room
many people will he feed, he thought.  But are they worthy to eat him?
did it to keep me alive and feed many people.  But then everything is a
are people who are paid to do it.  Let them think about it.  You were

*The txt file is from A Project Gutenberg Canada Ebook.*

We can do a similar thing in Python, using `filter` and `find`.

In [56]:
def grep(word, file):
    f = open(file, 'r')
    lines = f.readlines()
    f.close()
    
    # has_word is true if line contains word
    has_word = lambda line: line.find(word) != -1
    output = filter(has_word, lines)
    return "".join(output)

print grep('people', 'oldmanandthesea.txt')

quite sure no local people would steal from him, the old man thought
He always thought of the sea as _la mar_ which is what people call her
that were as long as the skiff and weighed a ton.  Most people are
him beyond all people.  Beyond all people in the world.  Now we are
table.  There was much betting and people went in and out of the room
many people will he feed, he thought.  But are they worthy to eat him?
did it to keep me alive and feed many people.  But then everything is a
are people who are paid to do it.  Let them think about it.  You were

** Exercise 3** Searching in Files

- Define `grep2(word1, word2, file)`.  It returns the lines that contain both word1 and word2.

In [57]:
#### Your code here

def grep2(word1, word2, file):
    f = open(file, 'r')
    lines = f.readlines()
    outputlines = filter(lambda line: line.find(word1) != -1\
                         and line.find(word2) != -1, lines)
    return outputlines

<p><a name="DS"></a></p>
# Data Structure

Lists are the most widely used data structure in Python. But they are not the only one. Other built-in data structures are sets and dictionaries:
- Sets - unordered collections without duplicates.
- Dictionaries - maps from one value (often strings) to another.

An important feature of Python data structures is that some are mutable and some are immutable; mutability is a key concept that we will discuss in this section.

For example, slicing is non-mutating:

In [58]:
L = ['a', 'b', 'c']
L[1:]

['b', 'c']

We can see the slicing is non-mutating because even `L[1:]` returns sub-list, the original list **`L`** itself remains unchanged:

In [59]:
L

['a', 'b', 'c']

`map` and `upper` are also non-mutating, since it returns a value:

In [60]:
map(lambda s: s.upper(), L)

['A', 'B', 'C']

But they do not change `L`.

In [61]:
L

['a', 'b', 'c']

**Exercise 4** Non-mutating operations

Try this using list and string operations you have learned:
 - Assign a list or string to a variable (say, L or s).
 - Perform operations on the variable.
 - Note that the variable changes only if you re-assign to it.
 - Now assign the variable to another variable:
```
M = L
t = s
```
 - Now perform operations on `L` and `s` and assign the result to `L` or `s`, e.g. “`L = L[2:]`” or “`s = s.upper()`”.  Do `M` or `t` change?

In [62]:
#### Your code here

#### This is a self evaluating exercise.

<p><a name="mutate"></a></p>
## Mutating Operations on Lists

- Lists are a mutable data type. The most important mutating operation is: **assignment**

In [63]:
skills = ['Python','SAS','Hadoop']
skills[1] = 'R'

We see that no value are returned, but the value of `skills` is changed!

In [64]:
skills

['Python', 'R', 'Hadoop']

In [65]:
skills = ['Python','SAS','Hadoop']
my_skills = skills
skills[1] = 'R'     # no assignment to my_skills
my_skills

['Python', 'R', 'Hadoop']

We have always added to a list by using `+`, which is non-mutating:

In [66]:
L = ['a', 'b', 'c']
L + ['d']

['a', 'b', 'c', 'd']

But `L` is not updated:

In [67]:
L

['a', 'b', 'c']

Assigning the value back to `L` updates it:

In [68]:
L = L + ['d']   
L

['a', 'b', 'c', 'd']

The `append` operation mutates a list:

In [69]:
L.append('e')
L

['a', 'b', 'c', 'd', 'e']

`lis.remove(x)` removes the first item from the list whose value is `x`.

In [70]:
L

['a', 'b', 'c', 'd', 'e']

In [71]:
L.remove('c')
L

['a', 'b', 'd', 'e']

`del L[i]` removes item `i` from `L`.

In [72]:
del L[0]
L

['b', 'd', 'e']

`lis.insert(i, x)` inserts `x` so that it is at location `i` in the list.  (If `i` is out of bounds, it inserts it in the closest place it can.)

In [73]:
L = ['a', 'b', 'c']
L.insert(2, 'd')
L

['a', 'b', 'd', 'c']

In [74]:
L.insert(10, 'e')
L

['a', 'b', 'd', 'c', 'e']

In [75]:
L.insert(-10, 'f')
L

['f', 'a', 'b', 'd', 'c', 'e']

We have already seen `sorted(lis)`, which is a non-mutating sort operation:

In [76]:
lis = [4, 2, 6, 1]
sorted(lis)

[1, 2, 4, 6]

In [77]:
lis

[4, 2, 6, 1]

`lis.sort()` is a mutating sort operation:

In [78]:
lis.sort()
lis

[1, 2, 4, 6]

It follows from what we’ve seen that a mutating operation applied to a list `L` can change the value of another variable if that variable is pointing to the same memory location as `L`:

In [79]:
lis = [4, 2, 6, 1]
lis2 = lis
lis.sort()
lis2

[1, 2, 4, 6]

Using `sorted(lis)` doesn't cause the change on `lis2`.

In [80]:
lis = [4, 2, 6, 1]
lis2 = lis
sorted(lis)

[1, 2, 4, 6]

In [81]:
lis2

[4, 2, 6, 1]

This is called a side effect of the mutating operation.  Programmers try to avoid side effects, because it is difficult to understand code when variables can change without even being mentioned.

Note that the mutating operations we have seen have no value, or rather, their value is `None`.  Try:

In [82]:
print lis.sort()
print lis.append(4)

None
None

It follows that we cannot use mutating operations in a map or filter, because those depend upon the value of the expression.  This is an attempt to extend every element of a nested list:

In [83]:
L = [[1], [2], [3]]
map(lambda l: l.append(4), L)

[None, None, None]

`sort` and `sorted` use the first element as the primary sort key, the second element as the second sort key, etc., and they sort in ascending order. You can customize the sort using two different arguments:
 - Sort on a user-defined key:

In [84]:
staff =[['Lucy','A',9], ['John','B',3], ['Peter','A',6]]
sorted(staff, key = lambda x: x[2])  # key is ID number

[['John', 'B', 3], ['Peter', 'A', 6], ['Lucy', 'A', 9]]

You can define functions that use mutating operations.  If the purpose of a function is to perform a mutating operation, it does not need a return value.

This function sorts a nested list, using the given element of each sublist as the sort key:

In [85]:
def sort_on_field(lis, fld):
    lis.sort(key = lambda x: x[fld])

L = [['a', 4], ['b', 1], ['c', 7], ['d', 3]]
sort_on_field(L, 1)

It has no return, and does not produce a value. But it mutates the variable.

In [86]:
L

[['b', 1], ['d', 3], ['a', 4], ['c', 7]]

**Exercise 5**

Write a function to switch the ith and jth items in a list.
```
def switch_item(L, i, j):
    ... function body goes here ...

my_list = ['first', 'second', 'third', 'fourth']
switch_item(my_list, 1, -1)
my_list ---> ['first', 'fourth', 'third', 'second']
```

In [87]:
#### Your code here

def switch_item(L, i, j):
    temp = L[i]
    L[i] = L[j]
    L[j] = temp

<p><a name="TSD"></a></p>
## Tuples, sets and dictionaries

We can now explain the other data types of Python.
- **Tuples**:  Tuples are like lists, but are immutable.
- **Sets**:  Also like lists, except that they do not have duplicate elements.  Immutable.
- **Dictionaries**:  These are tables that associate values with keys (usually strings).  Mutable.
- **Strings**:  Like lists of characters.  Immutable.

** Strings**

Strings are immutable

In [88]:
company = 'NYC DataScience Academy'
company[0] = 'A'

TypeError: 'str' object does not support item assignment

** Tuples**

- Tuples are similar to lists, but they are immutable.
- Tuples are written with parentheses instead of square brackets.

In [89]:
courses = ('Programming', 'Stats', 'Math') 
courses[2] = 'Algorithms'

TypeError: 'tuple' object does not support item assignment

- Tuples support all the non-mutating list operations:

In [90]:
courses[1:]

('Stats', 'Math')

In [91]:
map(lambda s: s.upper(), courses)

['PROGRAMMING', 'STATS', 'MATH']

Tuples and lists both allow a shorthand for assignment that allows all the elements of the tuple or list to be assigned to variables at once:

In [92]:
(a,b) = (1,2)   # works with lists also
a

1

In [93]:
b

2

This provides a handy way to swap variables:

In [94]:
(a,b) = (b,a)
a

2

In [95]:
b

1

**Set**

- A set is an unordered collection with no duplicate elements.  Sets are immutable.

- To create a set, you can use either curly braces or the `set()` function.

In [96]:
vowels = {'u','a','e','i','o','u','i'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [97]:
fruit = set(['apple', 'orange', 'apple', 'pear'])
fruit

{'apple', 'orange', 'pear'}

- Sets support non-mutating list operations, as long as they don’t depend on order:

In [98]:
primes = {2, 3, 5, 7}
primes[2]

TypeError: 'set' object does not support indexing

In [99]:
sum(primes)

17

In [100]:
map(lambda x: x*x, primes)       # order is not guaranteed

[4, 9, 25, 49]

- Sets have mathematical operations like union (`|`), intersection (`&`), difference (`-`), and symmetric difference (`^`).

In [1]:
set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

set_1 | set_2       # union

{'a', 'b', 'c', 'd'}

In [2]:
set_1 & set_2       # intersection

{'b', 'c'}

In [3]:
set_1 - set_2       # difference

{'a'}

In [4]:
set_1 ^ set_2       # symmetric difference (a-b | b-a)

{'a', 'd'}

**Dictionaries**

- A dictionary is a set of keys with associated values. Each key can have just one value associated with it.  Dictionaries are mutable.
 - Any immutable object can be a key, including numbers, strings, and tuples of numbers or strings.  Strings are most common.
 - Any object can be a value.

- Dictionaries are written in set braces (like sets), with the key/value pairs separated by colons:

In [105]:
employee = {'sex': 'male', 'height': 6.1, 'age': 30}

The most important operation on dictionaries is key lookup:

In [106]:
employee['age']

30

We can add new key: value pairs to the dictionary:

In [107]:
employee['city'] = 'New York'
employee

{'age': 30, 'city': 'New York', 'height': 6.1, 'sex': 'male'}

It is illegal to access a key that is not present:

In [108]:
employee['weight']

KeyError: 'weight'

but you can check if a key is present using the in operator:

In [109]:
'weight' in employee

False

For convenience, you can construct a dictionary from a list (or set) of tuples:

In [110]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

You can also get a list of the keys, the values, or all key/value pairs:

In [111]:
employee = {'sex': 'male', 'height': 6.1, 'age': 30}
employee.keys()

['age', 'height', 'sex']

In [112]:
employee.values()

[30, 6.1, 'male']

In [113]:
employee.items()

[('age', 30), ('height', 6.1), ('sex', 'male')]

You could represent a table as a list of pairs, use append to add items, and use filter to look them up:

In [114]:
employee = [('sex', 'male'), ('height', 6.1), ('age', 30)]
filter(lambda x: x[0]=='sex', employee)[0][1]

'male'

**Exercise 6**

- Given the following dictionary:
```
inventory = {'pumpkin': 20, 'fruit': ['apple', 'pear'], 'vegetable': ['potato','onion','lettuce']}
```
- Modify inventory as follows:
 - Add a meat inventory item containing 'beef', 'chicken', and 'pork'.
 - Sort the vegetables (Recall the sorted function.)
 - Add five more pumpkins.
After these changes, inventory is:
```
{'vegetable': ['lettuce', 'onion', 'potato'], 'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'], 'pumpkin': 25}
```

In [115]:
#### Your code here

inventory = {'pumpkin' : 20, 'fruit' : ['apple', 'pear'],
           'vegetable' : ['potato','onion','lettuce']}
inventory['meat']=['beef', 'chicken', 'pork']
inventory['vegetables'] = sorted(inventory['vegetables'])
inventory['pumpkin'] = inventory['pumpkin'] + 5

<p><a name="ES"></a></p>
# Expression vs. Statements

A key property of virtually all programming languages is that they have two basic categories of syntactic constructs:

- Expressions produce values.  This includes ordinary expressions like `3+4`, as well as more complex expressions like `map(lambda x: x+1, [3, 5, 7])`.  In both cases, we can ask “what is the value of that expression?” and get a sensible answer (`7` and `[4, 6, 8]`, resp.).
- Statements cause an action - a “side effect” - to happen. We have seen two statements:  assignments and print.

We saw two ways to append to a list: the mutating method `append()` and the non-mutating operator `+`. The former forms a statement and the later expression. We demonstrate again the difference with the list below:

In [1]:
list1 = [1,2]

<p><a name="nonmutate"></a></p>
## non-mutatung operator: `+`

We say that the `+` operator forms a expression, because it returns a value which is printed by iPython notebook:

In [2]:
list1 + [3]

[1, 2, 3]

Moreover, the value returned by a expression can be assigned to another variable:

In [3]:
another_variable = list1 + [3]
print another_variable

[1, 2, 3]

However, the old variable `list1` itself is remained unchanged.

In [4]:
print list1

[1, 2]

To update `list1`, all we need to do is to assign the value back to `list1`:

In [5]:
list1 = list1 + [3]
print list1

[1, 2, 3]

<p><a name="append"></a></p>
## mutating method: `append()`

We say that the method `append` forms a statement, because first it does **NOT** return a value. Therefore iPython notebook doesn't print anything automatically:

In [6]:
list1.append(4)

But the value attached to `list1` has been changed:

In [122]:
list1

[1, 2, 3, 4]

Moreover, `append` returning no value can also be seen through assignment:

In [123]:
another_variable = list1.append(5)
print another_variable

None

A common bug from people who are not familiar with expression and statement is to update a variable after applying a mutating operator, which ruin the variable:

In [124]:
list1 = list1.append(6)

In this way we lost `list1`:

In [125]:
print list1

None

<p><a name="sideeffect"></a></p>
## On the side effect:

Programmers need to pay attention to 'side effects', because changes can happen without being mentioned explicitly. We will demonstrate this with an example. Again let's create a list:

In [126]:
list1 = [1,2,3,4]

At some point we might want to create another list with the same values.

In [127]:
list2 = list1

Recall that `list1` and `list2` are just two variable names on the same "item". Therefore, applying mutating operator on one of them would change the other. Below we apply `append()` to `list1`, of course `list1` is updated:

In [128]:
list1.append(5)
list1

[1, 2, 3, 4, 5]

However, `list2` is updated even we didn't do anything explicitly to `list2`:

In [129]:
list2

[1, 2, 3, 4, 5]

To avoid side effect we may use non-mutating operator. If we update `list1` with `+`, again `list1` would be updated:

In [130]:
list1 = list1  + [6]
list1

[1, 2, 3, 4, 5, 6]

But `list2` will not:

In [131]:
list2

[1, 2, 3, 4, 5]

**Caution**: The example above demonstrates a side effect and how mutating operators cause it while non-mutating operators don't. However, we are not suggesting using non-mutating operators to avoid side effect. Actually, the main problem in the example above is:

**We used assignment to make a copy!**

To avoid that, we can use a non-mutating operator to generate values and then assign it to a new variable:

In [132]:
list1[:]   # Slicing is non-mutating.

[1, 2, 3, 4, 5, 6]

In [133]:
list2 = list1[:]
list2

[1, 2, 3, 4, 5, 6]

We may then freely mutate `list1` without affect `list2`:

In [134]:
list1.append(7)
list1 = list1 + [8]
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [135]:
list2

[1, 2, 3, 4, 5, 6]

For more general data types, they usually comes with a "class method" to make a copy as we will see.