### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`. (Import the packages you think you need).

In [13]:
#### Your code here
import numpy as np                         
import pandas as pd                        

df1 = pd.read_csv('Temp.csv')
df1

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [14]:
#### Your code here
data = {'City': ['New Haven'] ,
    'State' : ['Connecticut'],
    'Temperature' : [58]}

df2 = pd.DataFrame(data)
df3 = pd.concat([df1, df2], axis = 0)
df3

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
0   New Haven  Connecticut           58

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [15]:
#### Your code here
df3.loc[df3.State == 'Connecticut','State'] = 'CT'
df3.loc[df3.State == 'New Jersey','State'] = 'NJ'
df3.loc[df3.State == 'New York','State'] = 'NY'
df3

         City State  Temperature
0         NYC    NY           67
1      Albany    NY           49
2     Buffalo    NY           38
3    Hartford    CT           63
4  Bridgeport    CT           58
5      Treton    NJ           72
6      Newark    NJ           68
0   New Haven    CT           58

- Select the rows in New York.

In [16]:
#### Your code here
df4 = df3[df3.State == 'NY']
df4

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [17]:
#### Your code here
np.mean(df4.Temperature)

51.333333333333336

- Find the mean and the standard deviation of the temperature of each state.

In [18]:
#### Your code here
df3.groupby('State').agg([np.mean,np.std])

      Temperature
             mean        std
State
CT      59.666667   2.886751
NJ      70.000000   2.828427
NY      51.333333  14.640128

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [19]:
#### Your code here
Capital = pd.DataFrame([['CT','Hartford'],['NJ','Treton'],['NY','Albany']])
Capital.columns = ['State','Capital']
Capital = Capital.sort_values(by='State')
Capital

  State   Capital
0    CT  Hartford
1    NJ    Treton
2    NY    Albany

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [20]:
#### Your code here
df = pd.merge(df3, Capital, how='inner', on ='State')
df.Capital = (df.Capital == df.City)
df

         City State  Temperature Capital
0         NYC    NY           67   False
1      Albany    NY           49    True
2     Buffalo    NY           38   False
3    Hartford    CT           63    True
4  Bridgeport    CT           58   False
5   New Haven    CT           58   False
6      Treton    NJ           72    True
7      Newark    NJ           68   False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [45]:
#### Your code here
# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190)
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']
Country = pd.read_csv('Country.csv')

In [46]:
# (b)
df = pd.merge(Country,gdp, how='inner', on ='CountryCode')
df.shape[0]

189

In [47]:
# (c)
def numeric_string_to_float(s):
    s = s.replace(',', '')
    return float(s)

df['GDP'] = df['GDP'].apply(numeric_string_to_float)

df.CountryName[df['GDP'].sort_values(ascending= False).index[12]]

'Spain'

In [52]:
# (d)
igps = df.loc[(df['Income Group'] == 'High income: OECD')|(df['Income Group'] == 'High income: nonOECD'),:]
igps.groupby('Income Group').mean()['GDP']

Income Group
High income: OECD       1.483917e+06
High income: nonOECD    1.043498e+05
Name: GDP, dtype: float64

In [55]:
# (e)
igps.groupby(['Income Group','Region']).mean()['GDP']

Income Group          Region
High income: OECD     East Asia & Pacific           2.197268e+06
                      Europe & Central Asia         7.567044e+05
                      Middle East & North Africa    2.582170e+05
                      North America                 9.033012e+06
High income: nonOECD  East Asia & Pacific           1.496240e+05
                      Europe & Central Asia         2.776660e+04
                      Latin America & Caribbean     2.795480e+04
                      Middle East & North Africa    2.142531e+05
                      North America                 5.474000e+03
                      Sub-Saharan Africa            1.769700e+04
Name: GDP, dtype: float64